.text-field{
 -fx-border-width: 2;
 -fx-border-color: transparent;   
}
.text-field:hover{

 -fx-border-width: 2;
 -fx-border-color: #000000;
    
}


.text-field:focused{
 -fx-border-width: 2;
 -fx-border-color: #0093EF;
 
}